### Default Ignore ###
target/

### Application Configurations ###
config/
portfolio/

### Application resources ###
src/main/resources/static
src/main/resources/templates

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
