### Default Ignore ###
target/

### Application Configurations ###
src/main/resources/application.yml
src/main/resources/application-dev.yml
src/main/resources/application-prod.yml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
