### Default Ignore ###
target/

### Application Configurations ###
src/main/resources/application.yml
src/main/resources/application-dev.yml
src/main/resources/application-prod.yml
src/main/resources/datasource.properties
src/main/resources/consumer_zh_CN.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
