<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/mould :: header(~{::title}, ~{}, ~{})">
    <title>忘记密码</title>
</head>
<body>
<form>
    <div id="error"></div>
    <label for="id">学号：</label>
    <input id="id" type="text" name="id"/>
    <br />
    <input id="sub" type="button" value="提交"/>
<!--    <input type="submit">-->
</form>
<script type="text/javascript">
    $("#sub").click(function () {
        let id = $("#id");
        $.post("/dms/user/forget_password/" + id.val(), {
            "id": id.val()
        }).done(function (responseText, statusText, jqXHR) {
            console.log(responseText);
            console.log(jqXHR.status);
        }).fail(function (jqXHR) {
            console.log(jqXHR.responseText);
        });
    });
</script>
</body>
</html>