<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/mould :: header(~{::title}, ~{}, ~{})">
    <title>注册</title>
</head>
<body>
<form id="total" th:action="@{/user/register}" method="post">
    <div id="error"></div>
    <label for="id">学号：</label>
    <input id="id" type="text" name="id"/>
    <br/>
    <label for="username">姓名：</label>
    <input id="username" type="text" name="username"/>
    <br/>
    <label for="password">密码：</label>
    <input id="password" type="password" name="password"/>
    <br/>
    <label for="confirm">确认密码：</label>
    <input id="confirm" type="password" name="confirm"/>
    <br/>
    <label for="email">邮箱：</label>
    <input id="email" type="email" name="email"/>
    <br/>
    性别：
    <input id="man" type="radio" checked="checked" name="gender" value="1"/>
    <label for="man">男</label>
    <input id="woman" type="radio" name="gender" value="0"/>
    <label for="woman">女</label>
    <br/>
    <label for="emailCode">验证码：</label>
    <input id="emailCode" type="text" name="emailCode"/>
    <button id="get" type="button">获取验证码</button>
    <br/>
    <label for="validateCode">邀请码：</label>
    <input id="validateCode" type="text" name="validateCode"/>
    <br/>
    <input type="submit"/>
</form>
<script th:inline="javascript" type="text/javascript">
    let btn = $('#get');
    let path = [[${#httpServletRequest.getContextPath()}]];
    btn.click(function () {
        let time = 60;
        const timer = setInterval(function () {
            time--;
            btn.text("（" + time + "秒）重发");
            btn.attr('disabled', true);
            if (time === 0) {
                clearInterval(timer);
                btn.text("获取验证码");
                btn.attr('disabled', false);
            }
        }, 1000);
        $.post(path + "/user/getCaptcha", {
            "id": $('#id').val(),
            "email": $('#email').val()
        }, function (error) {
            console.log(error);
            if (error != null) {
                $("#error").text(error);
            }
        });
    });
</script>
</body>
</html>