<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/mould :: header(~{::title}, ~{}, ~{})">
    <title>重置密码</title>
</head>
<body>
<form id="reset" th:action="@{/user/reset_password}" method="post">
    <label for="password">密码：</label>
    <input id="password" type="password" name="password"/>
    <br />
    <label for="confirm">确认密码：</label>
    <input id="confirm" type="password" name="confirm" />
    <br />
    <input type="button" id="sub" value="确认">
</form>
<script th:inline="javascript" type="text/javascript">
    let ctxPath = [[${#httpServletRequest.getContextPath()}]];
    let sub = $('#sub');
    sub.click(function () {
        $.post(ctxPath + "/user/reset_password", $('#reset').serialize())
    });
</script>
</body>
</html>