<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templet/mould :: header(~{::title}, ~{::link}, ~{})">
	<title>权益保障部-忘记密码</title>
	<link rel="stylesheet" type="text/css" href="css/main.css" media="all"/>
</head>
<body>
<div class="layui-container">
    <div class="admin-login-background">
        <div class="layui-form login-form">
			<div class="layui-form-item logo-title">
				<h1>忘记密码</h1>
			</div>
			<div class="layui-form-item">
				<label class="layui-icon layui-icon-username"></label>
				<input type="text" id="id" name="id" lay-verify="required|id" lay-reqtext="请输入学号" placeholder="请输入学号" class="layui-input" value="2030070006">
			</div>
			<div class="layui-form-item">
				<button class="layui-btn layui-btn layui-btn-normal layui-btn-fluid" lay-submit lay-filter="forget">确 认</button>
			</div>
        </div>
    </div>
</div>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer;
        // 粒子线条背景
        $(document).ready(function(){
            $('.layui-container').particleground({
                dotColor:'#7ec7fd',
                lineColor:'#7ec7fd'
            });
        });
		// 表单的校验
		form.verify({
			id: [
				/^\d{2}3007\d{4}$/, , '学号格式不正确'
			]
		});
        // 进行登录操作
        form.on('submit(forget)', function (data) {
            data = data.field;
			$.post("/user/forget-password/" + $("#id").val()).done(function () {
				$('body').html(responseText);
			});
            return false;
        });
    });
</script>
</body>
</html>