<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templet/mould :: header(~{::title}, ~{::link}, ~{})">
	<title>权益保障部-重置密码</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" media="all"/>
</head>
<body>
<div class="layui-container">
    <div class="admin-login-background">
        <div class="layui-form login-form">
			<div class="layui-form-item logo-title">
				<h1>重置密码</h1>
			</div>
			<div class="layui-form-item">
				<label class="layui-icon layui-icon-password"></label>
				<input type="password" id="password" name="password" lay-verify="required" lay-reqtext="请输入密码" placeholder="请输入密码" class="layui-input" value="59741wangshuai">
			</div>
			<div class="layui-form-item">
				<label class="layui-icon layui-icon-password" for="password"></label>
				<input type="password" name="pwd" lay-verify="required" lay-reqtext="请输入密码" placeholder="请输入密码" class="layui-input" value="59741wangshuai">
			</div>
			<div class="layui-form-item">
				<button class="layui-btn layui-btn layui-btn-normal layui-btn-fluid" lay-submit lay-filter="reset">确 定</button>
			</div>
        </div>
    </div>
</div>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer;
        // 粒子线条背景
        $(document).ready(function(){
            $('.layui-container').particleground({
                dotColor:'#7ec7fd',
                lineColor:'#7ec7fd'
            });
        });
        // 进行登录操作
        form.on('submit(reset)', function (data) {
            data = data.field;
			if (data.password != data.pwd) {
				layer.msg('两次输入的密码不一致', {icon: 5, shift: 6});
				return false;
			}
			var id = window.location.pathname.split('/')[3];
			$.post("/user/reset-password/" + id, {
				"password": $('#password').val()
			}).done(function () {
				window.location.pathname = '/login.html';
			});
            return false;
        });
    });
</script>
</body>
</html>