<div class="layui-container">
    <div class="admin-login-background">
        <div class="layui-form login-form">
			<div class="layui-form-item logo-title">
				<h1>忘记密码</h1>
			</div>
			<div class="layui-form-item">
				<p>验证邮件已发送到账号绑定的邮箱，请根据邮件提示完成修改密码，修改完成后请点击下方按钮前往登录页登录。</p>
			</div>
			<div class="layui-form-item">
				<a href="login.html" class="layui-btn layui-btn layui-btn-normal layui-btn-fluid">返 回 首 页</a>
			</div>
        </div>
    </div>
</div>
<script>
	// 粒子线条背景
	$(document).ready(function(){
		$('.layui-container').particleground({
			dotColor:'#7ec7fd',
			lineColor:'#7ec7fd'
		});
	});
</script>
