<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title, links, styles)">
    <meta charset="utf-8">
    <title th:replace="${title}"></title>
    <meta name ="_csrf" th:content="${_csrf.token}" />
    <meta name ="_csrf_header" th:content="${_csrf.headerName}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/lib/layui-v2.5.5/css/layui.css" media="all">
    <script src="/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="/lib/jq-module/jquery.particleground.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $.ajaxSetup({
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            error: function(xhr, status, error) {
                layer.msg(xhr.responseText, {icon: 5, shift: 6});
            }
        });
    </script>
    <th:block th:replace="${links}" />
    <th:block th:replace="${styles}" />
</head>
</html>